

html, body{
    margin: 0;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
	
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden; 
	
}
#panel1{   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
    width: 100%;
    background: radial-gradient(circle at top,#28bcf8,#0476f7);
    font-size: 14px;
    font-family: 'Avenir-Book';
    letter-spacing: 0.1em;
    color: white;
}
.social-media-icons{
    align-self: flex-end;
    padding: 3% 5% 0 0;
}
/* Portrait */
@media (max-width: 600px) {
    .social-media-icons{
        align-self: flex-end;
        padding: 5% 5% 0 0;
    }
}
.social-media-icons a{
    cursor: hover;
}
.social-media-icons i{
    border-radius: 50%;
    border: 1px white solid;
    color: white;
    margin: 0px 3px;
    width: 17px;
    font-size: 15px;
    text-align: center;
}
.social-media-icons .fa-twitter, 
.social-media-icons .fa-instagram{
    padding: 5px 4px 5px 6px !important;
}
.social-media-icons .fa-facebook{
    padding: 5px 5px 5px 5px !important;
}
#panel1 .content{
    text-align: center;
    padding: 0% 5%;
}
#panel1 .content img{
    width: 100%;
    max-width: 550px;
    height: auto;
}
#panel1 .content p{
    margin: auto;
    padding-top: 20px;
    text-align: center;
}
#panel1 .chevron{
    padding-bottom: 50px;
    align-self: center;
}

#panel2
{   
    font-family: 'Avenir-Book', sans-serif;
    letter-spacing: 0.1em;
    color: #565B6B;
    padding: 7.5% 20% 7.5% 10%;
}
/* Portrait */
@media (max-width: 600px) {
    #panel2{
        padding: 7.5%;
    }
}
#panel2 h1{   
    font-family: 'moon-light', sans-serif;
    letter-spacing: 0.1em;
    margin: 60px 0px;
    font-size: 35px;
}
#panel2 h1::first-letter{
    margin-right: 4%;
    font-weight: 900;
    color: #0476f7;
}
#panel2 h2{   
    font-size: 22px;
    margin: 60px 0px;
}
#panel2 p{   
    font-size: 20px;
    line-height: 35px;
    margin: 60px 0px;
}

#panel3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: #F1F0F0;
}

#panel3 a{
	text-decoration: none;
}


.box{
    width: 50%;
    height: auto;
}
.box img{
    width: 100%;
    height: auto;
}
/* Portrait */
@media (max-width: 600px) {
    #panel3{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #F1F0F0;
    }
    .box{
        width: 100%;
        height: auto;
    }
    .box2, .box3{
        display: none;
    }
	
	.box4{
        padding: 100px 0px;
    }
}
.box4{
    align-self: center;
}
.box4 .btn{
    margin: 0 auto;
    color: #0476f7;
    border: 3px solid #0476f7;
    font-family: 'moon-light', sans-serif;
    letter-spacing: 0.2em;
    width: 40%;
    font-size: 20px;
    padding: 15px 20px;
    text-align: center;
    cursor: hover;
}
.box4 .btn:hover{
    font-weight: 900;
}

/* ===================================================== */


#panel4
{   
    font-family: 'Avenir-Book', sans-serif;
    letter-spacing: 0.1em;
    color: #565B6B;
    /*padding: 2.5% 20% 7.5% 10%;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: white;
}

#panel4 h1{   
	padding: 1.5% 20% 0.5% 10%;
    font-family: 'moon-light', sans-serif;
    letter-spacing: 0.1em;
    margin: 60px 0px;
    font-size: 35px;
	width: 800px
}
#panel4 h1::first-letter{
    margin-right: 4%;
    font-weight: 900;
    color: #0476f7;
}

.member {
	float:left;
	padding: 11px 11px 60px 70px;
}

.teamContainer {
    margin: 0 auto; 
	padding-left: 7%;
	padding-top: 1%;
	padding-bottom: 3.5%;
	max-width: 1000px; /*determines number of portraits per line*/
}

#panel5
{   
    font-family: 'Avenir-Book', sans-serif;
    letter-spacing: 0.1em;
    color: #565B6B;
	background-color: #EEEEEE;
    padding: 7.5% 20%;
	
}

#panel5 h2{   
    font-size: 22px;
    margin: 0 auto;
}
#panel5 p{   
	
    font-size: 15px;
    line-height: 35px;
    margin: 60px 0px;
	text-align: center;
}


#panel6
{   
    font-family: 'Avenir-Book', sans-serif;
    letter-spacing: 0.1em;
    color: white;
	background-color: #152633;
    padding: 3.5% 5%;
	padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#panel6 h1{   
    font-size: 25px;
	color: white;
	font-weight: lighter;
}

#panel6 h5{   
	margin: 0px 0px 0px 0px;
	color:#646b6f;
	font-size: 14px;
	float: left;
	padding-right: 101px;
}


#panel6 input[type="text"]{
    color:white;
	background-color : #152633; 
	font-size: 15px;
	font-family: 'Avenir-Book', sans-serif;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom-color: #646b6f;
	padding-bottom: 10px;
	
}

#panel6 input[type="submit"] {
    background-color: #0476f7;
    border: none;
    color: white;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
	font-size: 12px;
	font-family: 'Avenir-Book', sans-serif;
	font-weight: bolder;
	letter-spacing: 0.15em;
    display: inline-block;
    margin: 10px 0px;
    cursor: pointer;
	width: 40%;
	min-width: 220px;
}

#panel6 input[type="submit"]:hover {
	background-color: #0365D1;
}

#panel6 textarea:focus, input:focus{
    outline: none;
}

.divider {
    border-color: gray;
    border-style: solid;
    border-width: 0 0 1px;
    height: 10px;
    line-height: 20px;
    text-align:center;
    overflow: visable;
	width: 100%;
	margin-bottom: 22px;
}

.panelLeft{
	width: 550px;
	margin-right: 10px;
	float: left;
}


.panelRight{
	width: 330px;
	float: left;
}

/* deprecated, caused mobile issues

.panelRight{
	width: 500px;
	height: 350px;
	margin-right: 5px;
	float: right;
}


#panel6 hr {			
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid gray;
    margin: 45px 0 0 0;
	padding: 0;
}
*/


.dataField{
	color: white;
	font-size: 13px;
	/*margin-left: 44%;*/
}

.unfocused{ 		/*for faded text of form*/
    color:#aaa;
}

.footerIcons{
	background-color: #152633;
	margin-top: -8px;
	padding-bottom: 10px;
	padding-right: 4.7%;
	
}
.footer-social-media-icons i{
    border-radius: 50%;
    border: 1px white solid;
    color: white;
    margin: 0px 3px;
    width: 16px;
    font-size: 15px;
    text-align: center;
}


.footer-social-media-icons .fa-twitter, 
.footer-social-media-icons .fa-instagram{
    padding: 5px 6px 5px 6px !important;
}

.footer-social-media-icons .fa-facebook{
    padding: 5px 5px 5px 5px !important;
}

.clean-email-link-gray{
  color: #565B6B;
  text-decoration: none;
}

.clean-email-link-white{
  color: white;
  text-decoration: none;
}
}



/* ===================================================== */
